{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>

    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
        {% if user.is_authenticated %}
            <li class="uk-active"><a href="{% url 'profile' %}">Profile</a></li>
            <li class="uk-parent"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registration' %}">Register</a></li>
        {% endif %}
        </ul>
    </div>
</nav>
<div class="uk-container uk-margin">
<h1>{% block page_heading %}{% endblock %}</h1>

    {% if messages %}
    <div>
        {% for message in messages %}{{ message }}{% endfor %}
    </div>
    {% endif %}{% block content %}{% endblock %}
    </div>
</body>
</html>